In [1]:
import requests 
from bs4 import BeautifulSoup 
import pandas as pd
import numpy as np
import time
import logging
import cssutils as css
css.log.setLevel(logging.CRITICAL)

In [2]:
URL = "https://en.tutiempo.net/climate/{}-{}/ws-{}.html"

In [3]:
cities = {
    'Toronto': '716240',
    'Vancouver': '718920',
    'Montreal':'716270',
    'Ottawa':'716280',
    'St John':'718010',
    'Charlottetown':'717060',
    'Halifax':'713950'
}

In [4]:
def get_style_str(soup):
    for style in soup.find_all('style'):
        decoded_str = style.decode_contents()
        if 'numspan' in decoded_str and 'span.nt' in decoded_str:
            return decoded_str
    return ''

In [5]:
def get_span_dict(soup):
    span_dict = {}
    style_str = get_style_str(soup)
    sheet = css.parseString(style_str)
    for rule in sheet:
        txt = rule.selectorText
        if 'numspan' in txt and 'span.nt' in txt:
            key = txt.split('.')[2].split('::')[0]
            for prop in rule.style:
                if prop.name == 'content':
                    span_dict[key] = prop.value.strip('"')
    return span_dict

In [8]:
css.util

In [9]:
#03-1993/ws-716240

In [10]:
def get_table_header(tb_head):
    head = []
    for cell in tb_head.find_all("th"):
        head.append(cell.text)
    return head

In [11]:
def get_df_from_table(table_header, table_body,span_dict):
    df_data = []
    for row in table_body:
        cell_data = []
        for cell in row.find_all("td"):
            spn = cell.find_all("span")
            if len(spn) > 0:
                text = ''
                for sp in spn:
                    span_class = sp.get('class')[0]
                    text = text + span_dict[span_class]
                cell_data.append(text)
            else:
                cell_data.append(cell.text)
        df_data.append(cell_data)
    df = pd.DataFrame(data= df_data, columns= table_header)
    return df

In [12]:
def clean_df(table_df):
    df = table_df.copy()
    df['RA'] = df['RA'].apply(lambda x: 1 if x=='o' else 0)
    df['SN'] = df['SN'].apply(lambda x: 1 if x=='o' else 0)
    df['TS'] = df['TS'].apply(lambda x: 1 if x=='o' else 0)
    df['FG'] = df['FG'].apply(lambda x: 1 if x=='o' else 0)
    tab_header = df.columns
    tab_data = df.values
    df_data = []
    for row_data in tab_data:
        row = []
        for val in row_data:
            val = str(val)
            if val == '-' or len(val) == 0:
                row.append(np.nan)
            elif val.isdigit():
                row.append(np.int(val))
            else:
                row.append(np.float(val))
        df_data.append(row)
    return pd.DataFrame(data= df_data, columns=tab_header)

In [13]:
def clean_missing_data(df, cols, split_size):
    data_arr = np.array_split(df, split_size)
    dfs = []
    for data in data_arr:
        tdf = pd.DataFrame(data= data, columns= cols)
        mean = tdf.mean()
        tdf.fillna(mean, inplace=True)
        dfs.append(tdf)
    return pd.concat(dfs)

In [14]:
def get_daily_weather_data(city_id, city_name, month, year):
    req = requests.get(URL.format(month, year, city_id))
    soup = BeautifulSoup(req.text, 'html.parser')
    table = soup.findAll('table', {'class': 'medias mensuales numspan'})[0]
    tb = table.find_all("tr")
    tb_len= len(tb)
    tb_head = tb[0]
    tb_body = tb[1:tb_len-2]
    span_dict = get_span_dict(soup)
    table_header = get_table_header(tb_head)
    table_df = get_df_from_table(table_header, tb_body, span_dict)
    df_clean = clean_df(table_df)
    df = clean_missing_data(df_clean, table_header, 7)
    df['Month'] = month
    df['Year'] = year
    df['City'] = city_name
    return df

In [16]:
df = get_daily_weather_data('716240','Toronto','02','2001')

In [17]:
df.head()

,Day,T,TM,Tm,SLP,H,PP,VV,V,VM,VG,RA,SN,TS,FG,Month,Year,City
0,1,0.2,3.5,-2.8,1013.6,73,0.76,19.6,15.7,20.6,59.4,1,1,0,0,02,2001,Toronto
1,2,-2.2,2.5,-7.9,1014.2,71,1.52,16.7,22.6,48.2,59.4,0,1,0,0,02,2001,Toronto
2,3,-9.3,0.2,-13.9,1023.1,64,0.76,23.8,16.5,38.9,59.4,0,1,0,0,02,2001,Toronto
3,4,-2.8,0.2,-6.4,1021.7,69,0.25,17.1,9.8,14.8,59.4,0,1,0,0,02,2001,Toronto
4,5,1.4,2.0,-4.2,1014.3,89,2.54,8.4,9.3,16.5,40.8,1,1,0,1,02,2001,Toronto

In [23]:
df[col_order]

,Day,Month,Year,City,T,TM,Tm,SLP,H,PP,VV,V,VM,VG,RA,SN,TS,FG
0,1,02,2001,Toronto,0.2,3.5,-2.8,1013.6,73,0.76,19.6,15.7,20.6,59.400000,1,1,0,0
1,2,02,2001,Toronto,-2.2,2.5,-7.9,1014.2,71,1.52,16.7,22.6,48.2,59.400000,0,1,0,0
2,3,02,2001,Toronto,-9.3,0.2,-13.9,1023.1,64,0.76,23.8,16.5,38.9,59.400000,0,1,0,0
3,4,02,2001,Toronto,-2.8,0.2,-6.4,1021.7,69,0.25,17.1,9.8,14.8,59.400000,0,1,0,0
4,5,02,2001,Toronto,1.4,2.0,-4.2,1014.3,89,2.54,8.4,9.3,16.5,40.800000,1,1,0,1
5,6,02,2001,Toronto,0.6,2.4,-1.2,1011.3,78,0.51,11.7,15.4,27.8,33.500000,1,1,0,0
6,7,02,2001,Toronto,0.1,2.0,-1.2,1022.8,67,0.00,22.9,22.0,35.2,44.300000,0,1,0,0
7,8,02,2001,Toronto,-1.0,2.0,-2.3,1027.9,83,24.89,10.0,12.0,24.1,44.600000,1,1,0,0
8,9,02,2001,Toronto,3.2,9.0,-0.2,1011.8,92,23.88,3.4,14.1,37.0,46.500000,1,1,0,1
9,10,02,2001,Toronto,-1.1,10.0,-7.0,1010.1,69,12.19,17.7,43.2,64.8,92.400000,1,1,0,0
10,11,02,2001,Toronto,-9.9,-7.9,-14.0,1035.4,64,0.76,23.7,16.5,33.5,77.800000,0,1,0,0
11,12,02,2001,Toronto,-7.0,-2.0,-11.0,1034.2,59,0.00,24.1,12.0,25.9,37.000000,0,0,0,0
12,13,02,2001,Toronto,-0.9,2.5,-11.4,1026.4,69,0.00,18.5,10.9,20.6,35.200000,0,0,0,0
13,14,02,2001,Toronto,0.7,2.5,-3.8,1016.9,85,0.76,7.6,4.6,9.4,34.066667,1,1,0,1
14,15,02,2001,Toronto,-4.2,1.8,-8.3,1016.3,76,7.37,18.2,16.7,31.3,33.500000,0,1,0,0
15,16,02,2001,Toronto,-3.4,0.0,-8.3,1018.3,77,0.00,13.4,7.6,24.1,33.500000,0,0,0,0
16,17,02,2001,Toronto,-6.2,-0.5,-10.0,1019.0,63,0.00,20.8,34.1,48.2,64.800000,0,1,0,0
17,18,02,2001,Toronto,-8.2,-4.6,-11.0,1027.2,63,0.76,23.5,25.7,46.5,64.800000,0,1,0,0
18,19,02,2001,Toronto,-2.8,2.0,-6.2,1019.5,60,0.00,23.8,24.4,38.9,63.000000,0,0,0,0
19,20,02,2001,Toronto,2.7,5.0,1.0,1015.0,66,0.00,16.3,20.0,37.0,53.500000,0,0,0,0
20,21,02,2001,Toronto,-6.4,4.7,-10.3,1023.1,58,0.25,20.6,27.2,35.2,51.900000,0,1,0,0
21,22,02,2001,Toronto,-9.1,-4.8,-12.0,1027.0,63,0.00,21.2,13.3,24.1,44.600000,0,1,0,0
22,23,02,2001,Toronto,-4.2,-0.8,-12.0,1018.0,70,1.52,13.2,27.2,53.5,66.500000,0,1,0,0
23,24,02,2001,Toronto,-6.1,-0.8,-10.3,1033.4,69,0.76,23.2,15.6,35.2,66.500000,0,1,0,0
24,25,02,2001,Toronto,3.7,14.0,-2.8,1009.7,80,17.53,11.7,30.0,64.8,90.700000,1,1,0,1
25,26,02,2001,Toronto,0.4,4.8,-2.0,1018.0,63,0.51,23.2,39.6,64.8,90.700000,0,1,0,0
26,27,02,2001,Toronto,-1.9,0.0,-5.0,1024.2,67,0.25,19.3,17.4,29.4,77.800000,0,1,0,0
27,28,02,2001,Toronto,-6.7,0.2,-9.6,1021.9,62,0.76,24.1,19.4,31.3,40.700000,0,1,0,0

In [ ]:
def get_weather_data():
    dfs = []
    for city_name, city_id in cities.items():
        for year in range(2009, 2020):
            year = str(year)
            for month in range(1, 13):
                if month < 10:
                    month = '0'+str(month)
                else:
                    month = str(month)
                df = get_daily_weather_data(city_id, city_name, month, year)
                dfs.append(df)
    return pd.concat(dfs)

In [ ]:
start_time = time.time()
tdf = get_weather_data()
end_time = time.time()

In [ ]:
tdf

In [ ]:
end_time - start_time

In [ ]:
tdf.to_csv('final.csv', index=False)